body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: solid;
  text-align: center;
}

.icons {
  display: block;
  padding-left: 10vh;
  flex-direction: end;
}

.imgs {
  border: solid;
  text-align: center;
  align-items: center;
  margin: 10px;
}

.boxContent {
  border: solid;
  text-align: center;
}
